@font-face {
    font-family: "Comfortaa";
    src: url("/css/Comfortaa.ttf");
}

html {
    position: fixed;
    height: 100%;
    overflow: hidden;

    background: #8EBE6B url("/img/bg.jpg") no-repeat center center fixed; 
    background-size: cover;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

    margin-top: 0;
    padding-top: 0;
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    color: #ccc;
    background: transparent;
}

a,
a:hover,
a:active,
a:visited {
    display: inline-block;
    text-decoration: none;
    color: #ccc;
}

a:hover {
    color: #b42727;
}

h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: top;
}

.holder {
    display: block;
    width: 100%;
}

.box {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 10px;
    
    min-width: 560px;
    max-width: 1024px;
}

.welcome {
    position: relative;
    color: #efe;
}

.welcome-logo {
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -225px;
    width: 450px;
}

.welcome-title {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    padding-top: 200px;
}

.wip {
    display: none;
}

.box-content {
    width: 70%;
    padding: 10px;
    
    
    color: #efe;
}

.box-video {
    width: 560px;
    border-radius: 5px;
    background: rgba(0,0,0,0.4);
}

.box-subscribe {
    padding-left: 0;
    padding-right: 0;
}

.box-footer {
    margin-top: 15px;
}

.footer-container {
    display: inline-block;
    
    height: 42px;
    padding: 10px;
    
    border-radius: 5px;
    background: rgba(0,0,0,0.4);
    
    vertical-align: top;
}

.footer-button {
    position: relative;
    display: inline-block;
    
    width: 42px;
    height: 42px;
    
    margin: 0 5px;
    
    border-radius: 5px;
    
    text-align: center;
    cursor: pointer;
    
    vertical-align: top;
    transition: all 0.15s ease-in-out 0s;
    
    background: #f9f9f9 center center no-repeat;
    background-size: 42px 42px;
    
    outline: 1px solid transparent;
    -webkit-backface-visibility: hidden;
    will-change: transform;
    -webkit-perspective: 1000;
}

.footer-button:hover {
    transform: rotate(7deg);
}

.indiedb-button {
    background-image: url("https://media.indiedb.com/images/global/indiedb.png");
}

.twitter-button,
a.twitter-button {
    background-color: #1b95e0;
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23fff%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E);
    background-size: 24px 24px;
}

.website-button {
    background-color: #f9f9f9;
    background-image: url("https://norlin.guru/favicon.ico");
    background-size: 32px 32px;
}

.telegram-button {
    background-color: #f9f9f9;
    background-image: url("/img/telegram.jpg");
}

/* MailChimp Form Embed Code - Horizontal Super Slim - 12/16/2015 v10.7
Adapted from: http://blog.heyimcat.com/universal-signup-form/ */

#mc_embed_signup form {
    text-align: center;
    padding: 0;
}

.mc-field-group {
    display: inline-block;
}
/* positions input field horizontally */

#mc_embed_signup input.email {
    display: inline-block;
    box-sizing: border-box;
    width: 70%;
    height: 32px;
    
    padding: 0px 0.4em;
    margin: 0;

    border: 0;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    
    color: #343;
    background: rgba(255,255,255,0.8);
        
    font-family: "Comfortaa", sans-serif;
    font-size: 18px;
    text-align: center;
    vertical-align: top;
}

#mc_embed_signup input.email,
#mc_embed_signup input.email:focus {
    outline: none;
}

#mc_embed_signup input.email::placeholder {
    color: #676;
}

#mc_embed_signup .clear {
    position: relative;
    
    display: inline-block;
    width: 30%;
}
/* positions button horizontally in line with input */

#mc_embed_signup .button {
    display: inline-block;
    box-sizing: border-box;
    height: 32px;
    width: 100%;
    
    padding: 0;
    margin: 0;
    
    border: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    
    background: #eaa55a;
    color: #8f470d;
    
    font-family: "Comfortaa", sans-serif;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    
    transition: all 0.23s ease-in-out 0s;
}

#mc_embed_signup .button:hover {
    cursor: pointer;
    background-color: #fdd0a1;
}

@media (max-width: 768px) {
    #mc_embed_signup input.email {
        width: 100%;
    }
    #mc_embed_signup .clear {
        display: block;
        width: 100%
    }
    #mc_embed_signup .button {
        width: 100%;
        margin: 5px 0 0 0;
    }
}
#mc_embed_signup {
    background: transparent;
    clear: left;
    font: 14px "Comfortaa", sans-serif;
    width: 100%;
}

