/*

<!--iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLp0Hn1zh4vFO2z4IqJnseFgx3YFk29XqQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe-->

*/

@font-face {
	font-family: "Moria";
	src: url("/css/moria.ttf");
}

@keyframes shake {
	2% {
		transform: translate(-0.5px, -0.5px) rotate(0.5deg);
	}
	4% {
		transform: translate(2.5px, -1.5px) rotate(-0.5deg);
	}
	6% {
		transform: translate(2.5px, 0.5px) rotate(1.5deg);
	}
	8% {
		transform: translate(-0.5px, 2.5px) rotate(-0.5deg);
	}
	10% {
		transform: translate(1.5px, -0.5px) rotate(1.5deg);
	}
	12% {
		transform: translate(0.5px, -1.5px) rotate(-0.5deg);
	}
	14% {
		transform: translate(0.5px, -1.5px) rotate(0.5deg);
	}
	16% {
		transform: translate(-0.5px, 0.5px) rotate(0.5deg);
	}
	18% {
		transform: translate(-1.5px, 1.5px) rotate(0.5deg);
	}
	20% {
		transform: translate(-0.5px, -1.5px) rotate(-0.5deg);
	}
	22% {
		transform: translate(1.5px, 1.5px) rotate(0.5deg);
	}
	24% {
		transform: translate(-1.5px, 2.5px) rotate(1.5deg);
	}
	26% {
		transform: translate(-0.5px, 0.5px) rotate(0.5deg);
	}
	28% {
		transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
	}
	30% {
		transform: translate(1.5px, 0.5px) rotate(0.5deg);
	}
	32% {
		transform: translate(1.5px, -0.5px) rotate(0.5deg);
	}
	34% {
		transform: translate(2.5px, 1.5px) rotate(-0.5deg);
	}
	36% {
		transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
	}
	38% {
		transform: translate(1.5px, 2.5px) rotate(-0.5deg);
	}
	40% {
		transform: translate(-0.5px, -1.5px) rotate(0.5deg);
	}
	42% {
		transform: translate(0.5px, 0.5px) rotate(0.5deg);
	}
	44% {
		transform: translate(1.5px, 1.5px) rotate(-0.5deg);
	}
	46% {
		transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
	}
	48% {
		transform: translate(1.5px, 1.5px) rotate(1.5deg);
	}
	50% {
		transform: translate(0.5px, -0.5px) rotate(0.5deg);
	}
	52% {
		transform: translate(-0.5px, 0.5px) rotate(1.5deg);
	}
	54% {
		transform: translate(1.5px, -1.5px) rotate(0.5deg);
	}
	56% {
		transform: translate(-0.5px, -1.5px) rotate(1.5deg);
	}
	58% {
		transform: translate(2.5px, 1.5px) rotate(0.5deg);
	}
	60% {
		transform: translate(-0.5px, -0.5px) rotate(1.5deg);
	}
	62% {
		transform: translate(1.5px, 2.5px) rotate(-0.5deg);
	}
	64% {
		transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
	}
	66% {
		transform: translate(2.5px, 1.5px) rotate(-0.5deg);
	}
	68% {
		transform: translate(2.5px, 0.5px) rotate(1.5deg);
	}
	70% {
		transform: translate(-1.5px, -1.5px) rotate(0.5deg);
	}
	72% {
		transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
	}
	74% {
		transform: translate(-0.5px, -1.5px) rotate(1.5deg);
	}
	76% {
		transform: translate(1.5px, 1.5px) rotate(0.5deg);
	}
	78% {
		transform: translate(1.5px, -0.5px) rotate(1.5deg);
	}
	80% {
		transform: translate(-0.5px, 1.5px) rotate(1.5deg);
	}
	82% {
		transform: translate(2.5px, 2.5px) rotate(0.5deg);
	}
	84% {
		transform: translate(-0.5px, 0.5px) rotate(1.5deg);
	}
	86% {
		transform: translate(1.5px, -0.5px) rotate(1.5deg);
	}
	88% {
		transform: translate(2.5px, -1.5px) rotate(0.5deg);
	}
	90% {
		transform: translate(0.5px, -1.5px) rotate(-0.5deg);
	}
	92% {
		transform: translate(-0.5px, -1.5px) rotate(1.5deg);
	}
	94% {
		transform: translate(2.5px, 0.5px) rotate(1.5deg);
	}
	96% {
		transform: translate(-0.5px, -1.5px) rotate(-0.5deg);
	}
	98% {
		transform: translate(-0.5px, -1.5px) rotate(0.5deg);
	}
	0%,
	100% {
		transform: translate(0, 0) rotate(0);
	}
}

@keyframes drop {
	0% {
		opacity: 0;
		transform: rotate(-5deg) translateY(-40px) scale(7);
	}

	100% {
		opacity: 1;
		transform: rotate(-5deg) translateY(-40px) scale(1);
	}
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	min-width: 800px;
	min-height: 600px;
	margin-top: 0;
	padding-top: 0;
	text-align: center;
	font-family: "Moria", fantasy, serif;
	color: #333;
	background: #849234;
	background: #000;
}

.shake-start {
	animation-name: shake;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-delay: 1.5s;
	overflow: hidden;
	will-change: transform;
	transition: opacity, transform;
	transition-duration: 0.5s;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}

a,
a:hover,
a:active,
a:visited {
	display: inline-block;
	color: #333;
	text-decoration: none;
	transition: color 0.3s, transform 0.3s, text-shadow 0.3s;
	text-shadow: 3px 3px 2px #444;
	text-shadow: none;
	color: #ccc;
}

a:hover {
	transform: scale(1.05);
	text-shadow: 3px 3px 5px #444;
	text-shadow: none;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 22px;
}

.wrapper {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	background: #849234 url('/img/grass-texture3.jpg') repeat;
	background-size: 600px;
	background: #000;
}

.holder {
	display: block;
	width: 100%;
}

.box {
	position: relative;
	display: block;
	margin: 0 auto;
}

.welcome {
	margin-bottom: 30px;
	color: #b42727;
	text-shadow: 2px 2px 4px #333;
	text-shadow: none;
}

.welcome-title {
	display: inline-block;
	transform: rotate(-5deg) translateY(-40px) scale(1);
	z-index: 10;
	opacity: 0;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}

.shake-start .welcome-title {
	animation-name: drop;
	animation-duration: 0.5s;
	animation-delay: 1.0s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	will-change: transform, opacity;
	transition: opacity, transform;
	transition-duration: 0.5s;
}

.wip {
	color: #333;
	color: #ccc;
}

.yt {
	width: 100%;
	max-width: 800px;
}

.yt>iframe {
	box-shadow: 5px 5px 20px #333;
	background: #000;
}
